.custom-card-design {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 16px;
    padding: 0;
    margin: 0;
}

.modal-design {
    width: 100%;
    height: 100%;
}

.custom-parent-position {
    position: relative;;
}
.custom-child-position{
    position: absolute;
    top: 0 !important;
    right:0 !important;
    border: 1px solid black !important;
    border-radius: 10px;
    background-color: brown;
    margin: 10px;
    padding: 5px;
    /* z-index: 999; */
}
.custom-close{
    position: relative;
    top: 0 !important;
    right:0 !important;
    background-color: brown !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 20px !important;
}
.footer-margin-bottom{
    margin-bottom: 100px;
}